@import url('https://fonts.googleapis.com/css?family=Lato|Raleway&display=swap');

body
{
	background-color: #f2f2f2;
	font-family: "Lato";
	font-weight: 300;
	font-size: 16px;
	color: #555;
	
	-webkit-font-smoothing: antialiased;
	-webkit-overflow-scrolling: touch;
	
	margin-top: 70px;
}
h1, h2, h3, h4, h5, h6
{
	font-family:"Raleway";
	font-weight: 300;
	color: #333;
}
p
{
	line-height: 28px;
	margin-bottom: 25px;
}
.centered
{
	text-align: center;
}
h3
{
	color: #6B8E23;
}
.fh3 h3
{
	text-align: center;
	color: #7CFC00;	
}
.fh3 h3:hover
{
	color: #9932CC;
}
a
{
	color: #f85c37;
	font-family:"Raleway";
}
a:hover, a:focus
{
	color: #7b7b7b;
	text-decoration: none;
	outline: 0;
}
hr
{
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}
.navbar
{
	font-weight:800;
	font-size: 14px;
	padding-top: 15px;
	padding-bottom: 15px;
}
.navbar-inverse
{
	background: #2b2b2b;
	border-color: #2b2b2b;
}
.navbar-inverse .navbar-brand
{
	color: #999;
	font-weight: bolder;
	font-size: 22px;
	letter-spacing: 1px;
}
#headerwrap
{
	background: url(../img/Pizza.jpg) no-repeat center top;
	margin-top: -10px;
	padding-top: 20px;
	text-align: center;
	background-attachment: relative;
	background-position: center center;
	min-height: 260px;
	width: 100%;
	background-size: 100%;
	background-size: cover;
}
#headerwrap h1
{
	margin-top: 90px;
	color: #7FFFD4;
	font-size: 80px;
	font-weight: 200;
	letter-spacing: 3px;
}
#footer
{
	background: #ff7878;
	padding-top: 30px;
	padding-bottom: 20px;
}
#footer i
{
	color: #00FFFF;
	font-size: 30px;
	padding: 20px;
}
#footer i:hover
{
	color: #9932CC;
}
img {
	margin: auto;
    display: block;
    max-width: 100%;
    max-height: 100%;
}
.OtzCvet
{
	text-align: left;
}
.OtzCvet img
{
	width: 42px;
	height: 42px;
	float:left;
	padding: 0 10px 10px 0;
}
.OtzCvet a
{
	font-size: 21px;
	color:#808080;
}
.OtzCvet p
{
	margin-bottom: 0;
	font-size: 17px;
	line-height: normal;
	color: #4682B4;
}
#Ser
{
	display: block;
	background: #FFDEAD;
	width: 800px;
}
.Sinei h3
{
	color: #0000FF;
}
.Otctyp p
{
	margin-bottom: 0;
}
.Otctyp a
{
	margin-bottom: 25px;
}
.PizzaIconka img
{
	width: 32px;
	height: 42px;
	float: right;
	padding: 10px 0 0 0;
}
.gorizontal
{
	display: flex;
}
.slider
{
	max-width: 100%;
	max-height: 100%;
	width: 50%;
	height: 300px;
	margin: 100px auto;
	position: relative;
	top: 0;
	left: 0;
	right: 0;
}
.imge
{
	text-align: center;
	line-height: 300px;
	position: absolute;
	font-size: 50px;
	color: #fff;
	display: none;
}
.imge.curry
{
	display: block;
}
.imge:first-child
{
	width: 100%;
	background: url(../img/pizza_vetchina_griby2.jpg);
}
.imge:nth-child(2)
{
	width: 100%;
	background: url(../img/pizza-de-cebolla-y-mozzarella.jpg);
}
.imge:nth-child(3)
{
	width: 100%;
	background: url(../img/b5d2a401.jpg);
}
.imge:nth-child(4)
{
	width: 100%;
	background: url(../img/preview_preview_image-ytBlM5BIuZGps0qad1Tsmw1fyySYWNFNOg.jpg);
}
.imge:nth-child(5)
{
	width: 100%;
	background: url(../img/asdffasd.jpg);
}
.imge:nth-child(6)
{
	width: 100%;
	background: url(../img/thomas-tucker-391058-e1512578842571.jpg);
}
.imge:nth-child(7)
{
	width: 100%;
	background: url(../img/sadasff.jpg);
}
.imge:nth-child(8)
{
	width: 100%;
	background: url(../img/asdasff.jpg);
}
.n
{
	color: #575757;
}
.gorizontal a
{
	text-decoration: none;
	color: #FD7EAD;
	font-size: 20px;
}
.gorizontal a:hover
{
	color: #0AB6DD
}
.prev
{
	position: relative;
	top: 240px;
	left: 20%;
}
.next
{
	position: relative;
	top: 240px;
	right: 20%;
}